# Build artifacts
_deps/
bin/
build/
dist/
lib/
vcpkg_installed/

# Compiled Dynamic libraries
*.dll
*.dylib
*.so

# Compiled Object files
*.lo
*.obj
*.o
*.slo

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Debug information files
*.dwo
*.pdb

# Executables
*.app
*.exe
*.out

# Fortran module files
*.mod
*.smod

# IDE
.idea/
.vscode/
*.swo
*.swp
CMakeUserPresets.json

# Linker files
*.ilk

# OS-specific
.DS_Store
Thumbs.db

# Precompiled Headers
*.gch
*.pch

# Prerequisites
*.d

# Python
.env/
.venv/
__pycache__/
*$py.class
*.py[cod]
env/
venv/
