# Build artifacts
_deps/
bin/
build/
dist/
lib/
vcpkg_installed/

# Compiled Dynamic libraries
*.dll
*.dylib
*.so

# Compiled Object files
*.lo
*.o
*.obj
*.slo

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Databases
*.db
*.sqlite

# Debug information files
*.dwo
*.pdb

# Executables
*.app
*.exe
*.out

# Fortran module files
*.mod
*.smod

# IDE
*.swo
*.swp
.idea/
.vscode/
CMakeUserPresets.json

# Linker files
*.ilk

# OS-specific
.DS_Store
Thumbs.db

# Precompiled Headers
*.gch
*.pch

# Prerequisites
*.d

# Python
*$py.class
*.egg-info/
*.py[cod]
.env/
.venv/
__pycache__/
env/
venv/

# User-specific
*.temp
*.tmp
*.zip
roadmap/
temp/
tmp/
